@media screen and (max-width: 768px) {
  .cycle {
    width: 4%;
    right: 0;
    bottom: 0;
  }
  .latest-news {
    font-size: 0.8rem;
  }
  .back-img p {
    font-size: 1.2rem;
    width: 90%;
  }
  .latest-fundings {
    display: inline-block;
  }
  .latest-news1 {
    color: #f42;
    font-size: 1.2rem;
    text-decoration: none;
    float: left;
  }
  .latest-news1 span {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
  }
  .latest-deal {
    margin: auto auto;
  }
  .high-five {
    color: red;
  }
  .high-five h5:nth-child(2),
  .high-five h5:nth-child(4) {
    display: none;
  }
  .visible2 {
    display: none;
  }
  .img-grid1-div1 img {
    display: none;
  }
  .tech {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 0.8rem;
    margin: 0;
  }
  .tech img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .tech a {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 80%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .nav-pre {
    display: none;
  }
  .img-grid2 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 1rem;
  }
  .img-grid2 div div {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 400px;
            flex: 1 1 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .img-grid2 div div a:first-child {
    padding-left: 2rem;
    width: 80%;
    color: black;
    text-decoration: none;
  }
  .img-grid2 div div a:nth-child(2) {
    position: relative;
    padding-left: 2rem;
    color: grey;
    font-size: 0.7rem;
    text-decoration: none;
  }
  .img-grid2 div div p {
    display: inline-block;
    padding-left: 2rem;
  }
  .img-grid2 div img {
    width: 50px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50px;
            flex: 1 1 50px;
  }
  nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
  }
  nav div:nth-child(2) {
    display: none;
  }
  nav .search {
    margin-left: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .name {
    text-decoration: none;
  }
  .name h4 {
    background-color: #f42;
    text-align: center;
  }
  .col-md-3 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .col-md-3 .name {
    text-align: center;
  }
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .foot-img {
    width: 10%;
  }
}

.col-md-3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 2px;
  color: #fff;
  background: #fffaf8;
  position: relative;
}

.col-md-3 a {
  text-decoration: none;
}

.col-md-3 a li {
  list-style: none;
}

.name {
  background: #f42;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 11px 16px 11px 84px;
}

.img-grid1 ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  list-style: none;
  font-size: 0.8rem;
}

.img-grid1 ul li {
  margin: auto 1rem;
}

nav img {
  width: 106px;
  background-color: #f42;
  height: 48px;
}

.fa-search {
  color: grey;
  width: 2rem;
}

.after-nav {
  width: 100%;
  background-color: yellow;
  height: 40px;
  text-align: center;
  padding-top: 1rem;
  font-size: smaller;
}

.img-grid1-div1 span {
  float: right;
  color: #fff;
}

.img-grid1-div1 img {
  width: 35%;
}

.img-grid1-div2,
.img-grid1-div3 {
  position: relative;
}

.img-grid1-div2 a,
.img-grid1-div3 a {
  position: absolute;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  top: 60%;
}

.img-grid1 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -ms-grid-columns: (200px)[0];
      grid-template-columns: repeat(0, 200px);
}

.img-grid1 .img-grid1-div1 {
  background-image: url("images/trump.png"), -webkit-gradient(linear, left top, left bottom, from(#e66465), to(#9198e5));
  background-image: url("images/trump.png"), linear-gradient(#e66465, #9198e5);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.img-grid1 .img-grid1-div2 {
  background: url("images/auto.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.img-grid1 .img-grid1-div3 {
  background: url("images/auto.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.img-grid1 p {
  text-align: center;
  color: white;
}

@media screen and (min-width: 768px) {
  .cycle {
    border-radius: 16px;
    width: 2%;
    left: 95%;
    bottom: 3%;
  }
  .foot-img {
    width: 3%;
  }
  .latest-news {
    margin-left: 15%;
    font-size: 1.2rem;
  }
  .latest-deal {
    margin: auto 15%;
  }
  .latest-fundings {
    margin: auto 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .latest-news1 {
    color: #f42;
    font-size: 1.2rem;
    text-decoration: none;
  }
  .latest-news1 span {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
  }
  .high-five {
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: auto;
    color: #f42;
  }
  .high-five h5 {
    position: relative;
    display: inline;
    margin-left: 0.5rem;
  }
  .visible2 {
    visibility: hidden;
  }
  .md-4 a {
    max-width: 90%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
  }
  nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
  }
  nav .anchor {
    display: inline;
    padding: 0.5rem;
  }
  nav .anchor a {
    text-decoration: none;
    color: grey;
    padding: 0.5rem;
  }
  nav .search {
    margin-left: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  nav img:first-child,
  nav .fa-bars {
    display: none;
  }
  .img-grid2 {
    width: inherit;
    margin: auto 15%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    -ms-grid-rows: 300px 300px;
        grid-template-rows: 300px 300px;
  }
  .img-grid2 div {
    margin-right: 1rem;
  }
  .img-grid2 div img {
    width: 100%;
  }
  .img-grid2 div a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 800;
  }
  .nav-pre {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    font-size: 1rem;
    background-color: black;
    padding: 0.5rem;
  }
  .nav-pre div {
    display: inline;
  }
  .nav-pre .div2 {
    margin-left: auto;
  }
  .nav-pre .div2 a {
    padding: 0.5rem;
    text-decoration: none;
    color: #fff;
  }
  .nav-pre .div1 {
    max-width: 100%;
  }
  .nav-pre .div1 a {
    text-decoration: none;
    padding: 0.5rem;
    color: #fff;
  }
  .img-grid1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -ms-grid-rows: 200px 200px;
        grid-template-rows: 200px 200px;
    gap: 0.5rem;
    position: relative;
    height: auto;
  }
  .img-grid1 div:first-child {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/3/2;
  }
  .img-grid1 div:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/2/3;
  }
  .img-grid1 div:last-child {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/3/3;
  }
  .col-md-3 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
  }
  .row,
  .tech {
    margin: auto 15%;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row img {
  width: 15%;
}

.tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col-md-4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto 1%;
}

.md-4 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
}

.md-4 img {
  max-width: 95%;
}

.funds {
  background: rgba(255, 68, 34, 0.08);
  color: black;
  margin: 0;
  padding: 11px 16px 11px 84px;
}

.fa-tags::before {
  content: "\f02c";
}

.fa-briefcase::before {
  display: inline;
  content: "\f0b1";
}

.funds-para {
  border-top: 1px solid rgba(255, 68, 34, 0.25);
  padding: 16px;
}

.funds-para p {
  color: grey;
}

.latest-news {
  position: relative;
  color: #f42;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.latest-news span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-links div {
  -ms-flex-preferred-size: 4rem;
      flex-basis: 4rem;
}

.social-links div a i {
  font-size: 1.5rem;
  color: #fff;
}

.section1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  font-size: 1rem;
  background-color: pink;
}

.section1 p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  color: #f42;
}

.section1 a {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  text-decoration: none;
  color: #f42;
}

.section1 img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.margin-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.margin-social a {
  -ms-flex-preferred-size: 5rem;
      flex-basis: 5rem;
  font-size: 1rem;
  text-decoration: none;
  color: grey;
}

.funds-meta li a {
  text-decoration: none;
}

.magin-social a:nth-child(4) {
  -ms-flex-preferred-size: 5rem;
      flex-basis: 5rem;
}

.latest-deal {
  position: relative;
  font-size: 0.8rem;
  color: #f42;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.latest-deal span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}

.funds-meta {
  display: inline-block;
  right: 3rem;
}

.funds-meta i + span {
  text-decoration: none;
  color: grey;
}

.back-img {
  width: 100%;
  background: url("images/image1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.back-img p {
  color: #fff;
}

.back-img p:nth-child(2) {
  font-size: 1.2rem;
}

.back-img p:nth-child(3) {
  font-size: 0.8rem;
  color: grey;
}

.fa-circle {
  font-size: 0.4rem;
  color: #f42;
}

.lorem {
  font-size: 0.8rem;
  color: grey;
}

.underline {
  border-bottom: 2px solid rgba(128, 128, 128, 0.2);
  text-decoration: none;
}

.apps-gear-tech {
  font-size: 1.5rem;
  display: inline-block;
  color: #f42;
}

.fa-angle-right {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.trump {
  position: relative;
}

.politics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 9.5rem;
}

.politics a:nth-child(1) {
  font-size: 2.5rem;
  text-decoration: none;
  color: #fff;
}

.politics a:last-child {
  font-size: 0.8rem;
  text-decoration: none;
  color: #fff;
}

.politics img {
  position: relative;
}

.fa-tags {
  color: black;
}

.fa-briefcase {
  color: black;
}

.back-col {
  background: #131313;
  padding: 3rem;
  margin-left: -8px;
  margin-right: -8px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  background: black;
  color: #fff;
  text-align: center;
  margin: -8px;
}

.fa-heart {
  color: red;
}

.none {
  display: none;
}

.deals {
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: auto;
  color: #f42;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-youtube-square,
.fa-instagram-square,
.fa-pinterest-square,
.fa-rss-square,
.fa-envelope-square {
  background: #333;
}

.fa-bars {
  color: #f42;
}

.logoStackPath {
  width: 5rem;
  margin-left: 0.3rem;
}

.cycle {
  z-index: 1;
  position: fixed;
  background: #146ff8;
}
/*# sourceMappingURL=style.css.map */