.foot-img {
  width: 3%;
}

.latest-fundings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.latest-news1 {
  color: #f42;
  font-size: 1.2rem;
  text-decoration: none;
}

.latest-news1 span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}

.high-five {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: auto;
  color: #f42;
}

.high-five h5 {
  position: relative;
  display: inline;
  margin-left: 0.5rem;
}

.md-4 a {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: 0.9rem;
}

nav img {
  width: 106px;
  background-color: #f42;
  height: 48px;
}

.section1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  font-size: 1rem;
  background-color: pink;
}

.section1 p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  color: #f42;
}

.section1 a {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  text-decoration: none;
  color: #f42;
}

.section1 img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.col-md-3 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 2px;
  color: #fff;
  background: #fffaf8;
  position: relative;
  height: 417px;
}

.col-md-3 a {
  text-decoration: none;
}

.col-md-3 a li {
  list-style: none;
}

.col-md-3-img {
  position: absolute;
  top: 1rem;
  z-index: 1;
}

.img-grid1-div2 {
  position: relative;
}

.img-grid1-div2 a {
  position: absolute;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  top: 60%;
}

.md-4 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.md-4 img {
  max-width: 95%;
}

.margin-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.margin-social a {
  -ms-flex-preferred-size: 5rem;
      flex-basis: 5rem;
  font-size: 1rem;
  text-decoration: none;
  color: grey;
}

.img-grid1-div3 {
  position: relative;
}

.img-grid1-div3 a {
  position: absolute;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  top: 60%;
}

.funds-meta li a {
  text-decoration: none;
}

.politics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 9.5rem;
}

.politics a:nth-child(1) {
  font-size: 2.5rem;
  text-decoration: none;
  color: #fff;
}

.politics a:last-child {
  font-size: 0.8rem;
  text-decoration: none;
  color: #fff;
}

.politics img {
  position: relative;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row img {
  width: 15%;
}

.img-grid1-div1 span {
  float: right;
  color: #fff;
}

.img-grid1-div1 img {
  width: 35%;
}

.img-grid2 {
  margin: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.img-grid2 .wrapper-div {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  margin-right: 1%;
}

.img-grid2 .wrapper-div img {
  width: 100%;
  height: 135px;
}

.img-grid2 .text-div a {
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: 800;
}

.img-grid2 .ap a {
  color: grey;
}

.nav-adj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-pre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 0.9rem;
}

.nav-pre .div2 {
  margin-left: auto;
}

.nav-pre .div2 a {
  padding: 0.5rem;
  text-decoration: none;
  color: #fff;
}

.nav-pre .div1 {
  margin-right: auto;
}

.nav-pre .div1 a {
  text-decoration: none;
  padding: 0.5rem;
  color: #fff;
}

.img-grid1 .img-grid1-div1 {
  background-image: url("images/trump.png"), -webkit-gradient(linear, left top, left bottom, from(#e66465), to(#9198e5));
  background-image: url("images/trump.png"), linear-gradient(#e66465, #9198e5);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.img-grid1 .img-grid1-div2 {
  background: url("images/auto.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.img-grid1 .img-grid1-div3 {
  background: url("images/auto.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.img-grid1 p {
  text-align: center;
  color: white;
}

.tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-md-4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto 1%;
}

.funds {
  background: rgba(255, 68, 34, 0.08);
  color: black;
  text-align: center;
  display: block;
}

.m {
  position: relative;
  display: inline-block;
}

.m1 {
  font-size: 0.8rem !important;
  color: grey;
  display: block;
}

.fa-tags::before {
  content: "\f02c";
}

.fa-briefcase::before {
  display: inline;
  content: "\f0b1";
}

.funds-para {
  border-top: 1px solid rgba(255, 68, 34, 0.25);
  padding: 16px;
}

.funds-para p {
  color: grey;
}

.latest-news {
  margin-left: 10%;
  font-size: 1.2rem;
  position: relative;
  color: #f42;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.latest-news span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-links div {
  -ms-flex-preferred-size: 4rem;
      flex-basis: 4rem;
}

.social-links div a i {
  font-size: 1.5rem;
  color: #fff;
}

.magin-social a:nth-child(4) {
  -ms-flex-preferred-size: 5rem;
      flex-basis: 5rem;
}

.latest-deal {
  position: relative;
  font-size: 0.8rem;
  color: #f42;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.latest-deal span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}

.funds-meta {
  display: inline-block;
  right: 3rem;
}

.funds-meta i + span {
  text-decoration: none;
  color: grey;
}

.p {
  vertical-align: bottom;
  top: 90%;
}

.writer {
  font-size: 0.6rem;
}

.back-img {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  line-height: 0.8rem;
  background: url("images/image1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.back-img div p {
  color: #fff;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  font-size: 0.6rem;
  margin-top: auto;
  line-height: 2px;
}

.back-img div a:nth-child(2) {
  font-size: 1rem;
  color: #fff;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  display: block;
}

.back-img div a:nth-child(3) {
  font-size: 0.8rem;
  color: #fff;
}

.fa-circle {
  font-size: 0.4rem;
  color: #f42;
}

.lorem {
  font-size: 0.8rem;
  color: grey;
}

.underline {
  border-bottom: 2px solid rgba(128, 128, 128, 0.2);
  text-decoration: none;
}

.apps-gear-tech {
  font-size: 1.5rem;
  display: block;
  color: #f42;
}

.fa-angle-right {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.trump {
  position: relative;
}

.fa-tags {
  color: black;
}

.fa-briefcase {
  color: black;
}

.back-col {
  background: #131313;
  padding: 3rem;
  margin-left: -8px;
  margin-right: -8px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  background: black;
  color: #fff;
  text-align: center;
  margin: -8px;
}

.fa-heart {
  color: red;
}

.deals {
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #f42;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-youtube-square,
.fa-instagram-square,
.fa-pinterest-square,
.fa-rss-square,
.fa-envelope-square {
  border: 8px solid black;
  border-radius: 100%;
}

.fa-bars {
  color: #f42;
}

.logoStackPath {
  width: 5rem;
  margin-left: 0.3rem;
}

.cycle {
  z-index: 1;
  position: fixed;
  background: #146ff8;
  border-radius: 16px;
  width: 2%;
  left: 95%;
  bottom: 3%;
}

.name {
  background: #f42;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 0.5rem;
  font-weight: bold;
}

.img-grid1 ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  list-style: none;
  font-size: 0.8rem;
}

.img-grid1 ul li {
  margin: auto 1rem;
}

.fa-search {
  color: grey;
  width: 2rem;
}

.after-nav {
  width: 100%;
  background-color: yellow;
  height: 40px;
  text-align: left;
  font-size: 1.2rem !important;
  padding-top: 1rem;
}

.ap {
  color: grey;
}

@media (max-width: 768px) {
  nav {
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
  }
  nav .search {
    margin-left: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .none {
    display: none;
  }
  .img-grid1 {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (200px)[0];
        grid-template-columns: repeat(0, 200px);
  }
  .cycle {
    width: 4%;
    right: 0;
    bottom: 0;
  }
  .latest-news {
    font-size: 1.2rem;
    margin: 0;
  }
  .back-img p {
    font-size: 1.2rem;
    width: 90%;
  }
  .latest-fundings {
    display: inline-block;
  }
  .latest-news1 {
    color: #f42;
    font-size: 1.2rem;
    text-decoration: none;
    float: left;
  }
  .latest-news1 span {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
  }
  .latest-deal {
    margin: auto auto;
  }
  .high-five {
    color: red;
  }
  .high-five h5:nth-child(2),
  .high-five h5:nth-child(4) {
    display: none;
  }
  .high-five h5:nth-child(1),
  .high-five h5:nth-child(3),
  .high-five h5:nth-child(5) {
    display: block;
  }
  .visible2 {
    display: none;
  }
  .img-grid1-div1 img {
    display: none;
  }
  .tech {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 0.8rem;
    margin: 0;
  }
  .tech img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .tech a {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 80%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .img-grid2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .img-grid2 .wrapper-div {
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 1%;
        flex-basis: 1%;
  }
  .img-grid2 .wrapper-div img {
    width: 10%;
    height: 75px;
    -ms-flex-preferred-size: 75px;
        flex-basis: 75px;
  }
  .img-grid2 .wrapper-div .text-div {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .img-grid2 .wrapper-div .text-div a {
    -ms-flex-item-align: start;
        align-self: flex-start;
    text-align: left;
    margin-left: 0.6rem;
    width: 100%;
    color: black;
    text-decoration: none;
  }
  .img-grid2 .wrapper-div .text-div .ap {
    margin-bottom: 0.5rem;
  }
  .img-grid2 .wrapper-div .text-div .ap p {
    display: inline-block;
    margin-left: 0.4rem;
  }
  .img-grid2 .wrapper-div .text-div .ap a {
    color: grey;
  }
  .name {
    text-decoration: none;
  }
  .name h4 {
    background-color: #f42;
    text-align: center;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .col-md-3-img {
    max-width: 10%;
  }
  .row div:nth-child(4) {
    display: none;
  }
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .foot-img {
    width: 10%;
  }
  .tnw {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .background-color {
    background-color: #f42;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-adj {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .nav-pre {
    display: none;
  }
  .anchor {
    display: none;
  }
  .tnw-image {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .tnw-image1 {
    display: none;
  }
  .search {
    margin-left: auto;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .anchor {
    display: inline;
    padding: 0.5rem;
  }
  .anchor a {
    text-decoration: none;
    color: grey;
    padding: 0.5rem;
  }
  .fa-bars {
    display: none;
  }
  .tnw {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .background-color {
    background-color: #f42;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 10%;
            flex: 1 1 10%;
    width: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-adj {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 90%;
            flex: 1 1 90%;
  }
  .tnw-image {
    width: 100%;
  }
  .img-grid1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -ms-grid-rows: 200px 200px;
        grid-template-rows: 200px 200px;
    gap: 0.5rem;
  }
  .img-grid1 div:first-child {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/3/2;
  }
  .img-grid1 div:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/2/3;
  }
  .img-grid1 div:last-child {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/3/3;
  }
  .img-grid2 {
    margin: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .img-grid2 .wrapper-div {
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
  }
  .latest-news {
    margin: 0;
  }
  .latest-fundings {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .high-five {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 0 !important;
    margin-bottom: 1rem;
  }
  .row div:nth-child(4) {
    display: none;
  }
  .tech {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tech .col-md-4 {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

@media (min-width: 1024px) {
  .search {
    margin-left: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .latest-news1 {
    margin-left: 10%;
  }
  .high-five {
    margin-right: 10%;
  }
  .tech,
  .row {
    margin: 0 10%;
  }
  .latest-deal {
    margin-left: 10%;
    font-size: 1.2rem !important;
  }
  .deals {
    margin-right: 11.5%;
    font-size: 1.2rem !important;
  }
  .anchor {
    display: inline;
    padding: 0.5rem;
  }
  .anchor a {
    text-decoration: none;
    color: grey;
    padding: 0.5rem;
  }
  .none {
    display: none;
  }
  .img-grid1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -ms-grid-rows: 200px 200px;
        grid-template-rows: 200px 200px;
    gap: 0.5rem;
    position: relative;
    height: auto;
  }
  .img-grid1 div:first-child {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/3/2;
  }
  .img-grid1 div:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/2/3;
  }
  .img-grid1 div:last-child {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/3/3;
  }
}
/*# sourceMappingURL=style.css.map */