

@mixin flex1 {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
}

@mixin image-width($width1) {
   max-width: $width1;
  
   
}
@mixin grid-width768($x,$y) {
  @include image-width(100%);
   display:grid;
   grid-template-rows: repeat($x,1fr);
   grid-template-columns:repeat($y,200px);
}
@mixin grid-width-max768 {
   display:grid;
   grid-template-columns: 2fr 1fr;
   grid-template-rows: 200px 200px;
}
@mixin background-img123($url1) {
   background-image:url("#{$url1}");
   background-repeat: no-repeat;
   background-position: 0 0;
   background-size: 100% 100%;
   

}
// @mixin row-grid {
//    grid-template-column:repeat(auto-fit,minmax(200px,1fr));
// }

   @media screen and (max-width:768px){
      // .nav-pre {
        
        
         
         
      //    color:#fff;
         
        
         
      // }
      .nav-pre ul:first-child {
          
   
            display:inline-flex;
            position:relative;
            list-style:none;
            font-size:0.8rem;
            li{
              
               margin:auto 1rem;
             }
      }
      .nav-pre ul:last-child {
         display:none;
      }
      nav ul {
         display:none;
      }
      
   }



nav {

   @include flex1;
  
   img {
       @include image-width(106px);
       background-color:#f42;
       height:48px;
       
       
   }
   div {
      margin-left:auto;
      align-self:center;
   }
   
   
}
.fa-search {
   color:grey;
   width:2rem;
}
.after-nav {
   @include image-width(100%);
   background-color: yellow;
   height:40px;
   text-align:center;
   padding-top:1rem;
   font-size: smaller;
}
.img-grid1 {
@include grid-width768($x:3,$y:0);

   
 div:first-child {
    @include background-img123("/trump.png");
    height:400px;
   }
   div:nth-child(2){
      @include background-img123("/auto.png");
      
      
   }
 div:last-child{
    @include background-img123("/auto.png");
   
    
   }
   &  p {
      text-align:center;
      color:white;
      
   }

}

.latest-news {
  
   @include flex1;
   span {
      align-self:center;
      margin-left:0.5rem;
      margin-top:0.2rem;
   }
   h3 {
      align-self:flex-end;
   }
}
.img-grid2 {
   @include grid-width768($x:4,$y:2);
  img {
     width:200px;
  }
  div a p:first-child {
     text-align: center;
     width:50%;

  }
   
}
.nav-pre {
   @include flex1;
   background-color:black;
   color:#fff;
}
ul {
 
   
   display:inline-flex;
   position:relative;
   list-style:none;
   font-size:0.8rem;

   li{
     
      margin:auto 1rem;
     
    
   }
}
@media screen and (min-width:768px) {
   nav {
      img:first-child,.fa-bars{
         display:none;
      }
   
   }



.nav-pre { 
   ul:last-child {
      margin-left:auto;
}
}

.img-grid1 {
   @include grid-width-max768;
   height:auto;
   div:first-child {
      grid-area: 1/1/3/2;
   }
   div:nth-child(2) {
      grid-area:1/2/2/3;
   }
   div:last-child{
      grid-area:2/2/3/3;
   }
}
}

