nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 767px) {
  nav ul {
    display: none;
  }
}

nav img {
  max-width: 106px;
  background-color: #f42;
  height: 48px;
}

nav div {
  margin-left: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.fa-search {
  color: grey;
  width: 2rem;
}

.after-nav {
  max-width: 100%;
  background-color: yellow;
  height: 40px;
  text-align: center;
  padding-top: 1rem;
  font-size: smaller;
}

.img-grid1 {
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -ms-grid-columns: (200px)[0];
      grid-template-columns: repeat(0, 200px);
}

.img-grid1 div:first-child {
  background-image: url("/trump.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  height: 400px;
}

.img-grid1 div:nth-child(2) {
  background-image: url("/auto.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}

.img-grid1 div:last-child {
  background-image: url("/auto.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}

.img-grid1 p {
  text-align: center;
  color: white;
}

.latest-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.latest-news span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}

.latest-news h3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.img-grid2 {
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -ms-grid-columns: (200px)[2];
      grid-template-columns: repeat(2, 200px);
}

.img-grid2 img {
  width: 200px;
}

.img-grid2 div a p:first-child {
  text-align: center;
  width: 50%;
}

@media screen and (min-width: 768px) {
  ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    list-style: none;
    font-size: 0.8rem;
  }
  ul li {
    margin: auto 1rem;
  }
  .img-grid1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -ms-grid-rows: 200px 200px;
        grid-template-rows: 200px 200px;
    height: auto;
  }
  .img-grid1 div:first-child {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/3/2;
  }
  .img-grid1 div:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/2/3;
  }
  .img-grid1 div:last-child {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/3/3;
  }
}
/*# sourceMappingURL=style.css.map */